body {
  width: 100%;
}

.card-img {
  width: 5em;
  cursor: pointer;
}

.subBtn {
  background-color: orange;
  border: 3px #fff solid;
  box-shadow: 5px 5px 3px #0000002c;
  color: #fff;
  font-weight: bold;
}

input {
  border: 3px solid #ccc;
  outline: none !important;
  font-size: 1em;
}

input#textInput {
  width: 100%;
}

input#cvv {
  width: 50%;
}

/*Validation style*/
input.valid {
  border-color: #36cc36;
}

input.invalid {
  border-color: orange;
}

input + p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  color: orange;
  opacity: 0;
}

input.invalid + p {
  opacity: 1;
  height: auto;
}

input.cvv:-ms-keyboard-active {
  width: 50% !important;
}
